/*
Colours:
#e7eaf6
#a2a8d3 
#38598b
#113f67
*/



body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-auto-flow: row;
    margin: 0;


}

#sidebar,
#main,
#header,
#search-container,
#profile,
#greeting,
#new-posts,
#projects-container
 {
    display: grid;
}

#sidebar {
    background-color: #d97706;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    color: white;
    gap: 10px;
}

#header {
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 7fr 3fr;
    padding: 20px;
}

#main {
    background-color: #fde68a ;
    grid-column-start: 2;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
    column-gap: 30px;
}

.navigation-lists {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.2rem;
}

.navigation-lists > li {
    margin-bottom: -20px;
    margin-left: -20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    height: 20px;
}


#search-container {
    align-items: center;
    display: flex;
    gap: 50px;
}

#search-container input {
    background-color: #d2d5ee;
    border-radius: 10px;
    max-width: none;
    flex-grow: 1;
    border-width: 0;
    min-height: 25px;

}

.profile h2 {
    padding-left: 10px;
}

.new-posts {
    display: flex;
    gap: 8px;
    align-items: center;

}

.new-posts button {
    background-color: #d97706;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 25px;
}

#projects {
    grid-row: 1 / 3;
}

#announce,
#trending {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-announcements {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    width: 200px;
    border: 2px solid rgb(224, 224, 224) 
}

.annouce-cards {
    border-top: 1px solid rgb(199, 199, 199);
}

.users {
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    padding: 10px 20px;
    display: flex;
}

#projects-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.projects-card {
    background-color: white;
    border-radius: 20px;
    height: 225px;
    padding: 10px;
    padding-left: 30px;
    border-left: 10px solid #d97706;
}